header nav ul li{
    border: 10% solid #D6E7DA;
    background-color: #D6E7DA;
    border-radius: 10%;
}

header nav ul li a{
    font-size: 150%;
    color: #4E825F;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace, cursive;
}

header nav ul li:hover{
    background-color: #4e5db4;
    border: #4e5db4;
    text-emphasis-color: #E7FEFE;
}

footer .copyright{
    display: inline-flex;
    flex-direction: column;
    color: #EBFDF7;
    font-family: 'Courier New', Courier, monospace, cursive;
    font-size: 20px;
}

footer a i{
    font-size: 40px;
    color: rgb(0, 0, 0);
}

main{
    background-color: #E5FFF6;   
}

main .logo_de_whatsapp{
    font-size: 60px;
    text-decoration: none;
    color: darkgreen;
}
