$header_footer_background_color: #006060;
$header_color_botones: #D6E7DA;
$header_hover_color_botones: #4e5db4;
$header_text_color: #4E825F !important;
$header_hover_text_color: #a8eed5 !important;
$main_background_color: #E5FFF6;

$redes:(
    facebook: rgb(23, 169, 253),
    instagram: #8a3ab9,
    linkedin: #00a0dc,
    twitter: #00acee,
)